body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.login-form {
    max-width: 320px;
    width: 230px;
    padding: 40px;
    background: #ffffffe6;
    border-radius: 12px;
    box-shadow: 0 10px 30px #0000001a;
    animation: fadein 1.5s ease-out;
}

.form-heading {
    text-align: center;
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 25px;
    letter-spacing: 1px;
}

.input-group {
    position: relative;
    margin-top: 20px;
}

.input-group .label {
    position: absolute;
    top: -16px;
    left: 12px;
    font-size: 12px;
    font-weight: 600;
    transition: all 0.3s ease;
    opacity: 0.7;
}

.input-group input {
    width: 200px;
    padding: 15px 20px;
    font-size: 1rem;
    color: #333;
    background-color: #58bc58;
    border: 2px solid #161616;
    border-radius: 10px;
    outline: none;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #58bc58;
    box-shadow: 0 0 10px #58bc8266;
}

.input-group input:focus + .label {
    top: -20px;
    font-size: 11px;
    color: #58bc82;
    opacity: 1;
}

.forgot-password {
    text-align: right;
    margin-top: 20px;
}

.forgot-password a {
    font-size: 14px;
    color: #58bc82;
    text-decoration: none;
    transition: color 0.3s ease;
}

.forgot-password a:hover {
    color: #45a56b;
}

.submit {
    width: 100px;
    padding: 15px;
    background-color: #58bc82;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit:hover {
    background-color: #45a56b;
    transform: translateY(-2px);
    box-shadow: 0 5px 20px #58bc824d;
}

.signup-link {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.sign-up-link a {
    color: #58bc82;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

.signup-link a:hover {
    color: #45a56b;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
