body {
    background-color: burlywood;
}
.title {
    grid-area: title;
}
.feature-article {
    grid-area: feature-article;
}
.secondary-article {
    grid-area: feature-article;
}
.cover-image {
    grid-area: cover-image;
    max-width: 100%;
}
img {
    max-width: 100%;
}
.small-article1 {
    grid-area: small-article1;
}
.small-article2 {
    grid-area: small-article2;
}
.small-article3 {
    grid-area: small-article3;
}
.newspaper-layout {
    display: grid;
    grid-template-areas: 
    "title title title"
    "feature-article feature-article cover-image"
    "secondary-article secondary-article cover-image"
    "small-article1 small-article2 small-article3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 3rem;
}
